/.vs
/build*
CMakeSettings.json
docs/aidocs/*
docs/gamedocs/*
docs/source/*
/out
/vcpkg_installed
/CMakeFiles/3.30.1/CMakeCXXCompiler.cmake
/CMakeFiles/3.30.1/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/3.30.1/CMakeRCCompiler.cmake
/CMakeFiles/3.30.1/CMakeSystem.cmake
/CMakeFiles/3.30.1/CompilerIdCXX
/CMakeFiles/3.30.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/3.30.1/CompilerIdCXX/CompilerIdCXX.exe
/CMakeFiles/3.30.1/CompilerIdCXX/CompilerIdCXX.vcxproj
/CMakeFiles/3.30.1/CompilerIdCXX/Debug
/CMakeFiles/3.30.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
/CMakeFiles/3.30.1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
/CMakeFiles/3.30.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog
/CMakeFiles/3.30.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
/CMakeFiles/3.30.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
/CMakeFiles/3.30.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
/CMakeFiles/3.30.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
/CMakeFiles/3.30.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
/CMakeFiles/3.30.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
/CMakeFiles/3.30.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
/CMakeFiles/3.30.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
/CMakeFiles/3.30.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
/CMakeFiles/3.30.1/VCTargetsPath/x64/Debug
/CMakeFiles/3.30.1/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
/CMakeFiles/3.30.1/VCTargetsPath/x64/Debug/VCTargetsPath.tlog
/CMakeFiles/3.30.1/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
/CMakeFiles/3.30.1/VCTargetsPath.txt
/CMakeFiles/3.30.1/VCTargetsPath.vcxproj
/CMakeFiles/cmake.check_cache
/CMakeFiles/CMakeConfigureLog.yaml
